@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500');

*,
*:before,
*:after {
    box-sizing: border-box;
    --yellow: #ffce24;
    --sand: #f7e39d;
    --yellow-light: #f7f46c;
    --greige: #fffbee;
    --navy: #364a62;
    --midnight-blue: #271f30;
    --light-grey: #efece1;
    --dark-grey: #aaa;
    --deep-grey: #404040;
    --black: #111;
}

body {
    font-family: "Quicksand", 'sans-serif';
    margin: 0;
    display: grid;
    font-size: 100%;
    background-color: var(--greige);
    
}

/* begin nav styling*/
.topnav {
    overflow: hidden;
    background-color: var(--sand);
}

.topnav a {
    float: left;
    display: block;
    color: var(--deep-grey);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 21px;
}

.topnav a:hover {
    background-color: var(--light-grey);
    color: var(--black);
}

.topnav a.active {
    background-color: var(--yellow);
    color: var(--deep-grey);
    font-size: 130%;
    font-weight: bolder;
}

.topnav .burger {
    display: none;
}
/* end nav styling*/

h1 {
    font-size: 30px;
    text-align: center;
}
video {
    max-width: 100%;
    height: auto;
  }

.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-item-left {
    background-color: var(--light-grey);
    padding: 20px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: var(--sand);
    padding: 20px;
    flex: 50%;
  }

#error {
    color: var(--greige);
    line-height: 200%;
    background-color: var(--deep-grey);
    padding-left: 2%;
    border-radius: 15px;
}

/* start modal styling */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(247, 227, 157, 0.473);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--deep-grey);
    margin: auto;
    padding: 20px;
    border: 2px solid var(--yellow);
    width: 80%;
    line-height: 180%;
    border-radius: 25px;
}

.modal-content h2 {
    color: var(--yellow);
}

/* The Close Button */
.close {
    color: var(--yellow-light);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--yellow);
    text-decoration: none;
    cursor: pointer;
}

.modal-list {
    list-style-type: none;
}
/* end modal styling */


/* styling for apply area labels and fields */
form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--light-grey);
    padding: 0 30px;
    box-shadow: 2px 12px 15px var(--deep-grey);
}

label {
    display: block;
    margin-bottom: 5px;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

input:focus {
    border: 2px solid var(--yellow);
}


/* start styling eligibility steps & apply form */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 500px;
    height: 27rem;
    padding: 2em;
    background: linear-gradient(var(--greige), var(--dark-grey));
    border-radius: 15px;
}

form p {
    margin-bottom: 18px;
    font-size: 1.175em;
    line-height: 20px;
}

form fieldset {
    margin-bottom: 8px;
    padding: 0;
    border: none;
}

form a.continue,
.app-submit,
#myBtn, button.reset-form {
    font-size: 1.175em;
    background-color: var(--light-grey);
    color: var(--deep-grey);
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 25px;
}

form a.continue:hover,
form a.continue:focus,
.app-submit:hover,
.app-submit:focus, button.reset-form:hover, button.reset-form:focus {
    background-color: var(--yellow);
}

form a.continue, .app-submit{
    float: right;
}

form label span {
    display: block;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 14px 12px;
    border: 2px solid var(--deep-grey);
    background-color: var(--light-grey);
    cursor: pointer;
    border-radius: 25px;
}

form label:hover span,
form label:focus span {
    border: 2px solid var(--yellow);
    background-color: var(--greige);
    color: var(--deep-grey);
}

form input[type=radio] {
    visibility: hidden;
}

form input[type=radio]:checked+span {
    background-color: var(--yellow-light);
    color: var(--deep-grey);
}

/* begin footer styling */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: var(--deep-grey);
    /* background-color: var(--sand); */
    background: linear-gradient(var(--sand), var(--greige));
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left img {
    width: 50%;
}

h2 {
    font-weight: 600;
    font-size: 120%;
    color: var(--deep-grey);
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: flex;
    flex-flow: row wrap;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.f-box a {
    color: var(--deep-grey);
}

.footer-bottom {
    text-align: center;
    color: var(--deep-grey);
}

.footer-left p {
    padding-right: 20%;
    color: var(--deep-grey);
}

.socials a {
    background: var(--deep-grey);
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 25%;
}

.socials a i {
    color: var(--light-grey);
    padding: 10px 10px;
    font-size: 20px;
}

/* end footer styling */


/* begin media styling for tablets and mobile devices*/

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 900px) {
    .flex-container {
      flex-direction: column;
    }
  }

@media screen and (max-width: 600px) {

    /* Hide the nav links as hamburger icon displays for tablets and mobile */
    .topnav a:not(:first-child) {
        display: none;
    }

    /* Display hamburger icon for tablet and mobile instead of nav menu links*/
    .topnav a.burger {
        float: right;
        display: block;
    }

    /* Position hamburger icon that displays for tablet and mobile on top right 
    hand side instead of default position below nav menu links when open*/
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .burger {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* Responsive styling to make footer link sections align on top of each other when being viewed on smaller mobile devices*/
@media screen and (min-width: 600px) {
    .footer-right>* {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 1 0px;
    }
}